
<div class="creatediv" [style.background]="colors">
  <div *ngIf="show" class="divfields">
      <mat-form-field appearance="outline" class="inputs">
        <input matInput placeholder="Title" (click)="open()" [(ngModel)]="title">
        <mat-icon matSuffix>push_pin</mat-icon>
      </mat-form-field>
  </div>
  <div *ngIf="show || !show" class="divfields">
    <mat-form-field appearance="outline" class="inputs">
      <input matInput placeholder="Take a note..." (click)="open()" [(ngModel)]="description">
      <mat-icon *ngIf="!show" matSuffix>check_circle_outline</mat-icon>
      <mat-icon *ngIf="!show" matSuffix>brush</mat-icon>
      <mat-icon *ngIf="!show" matSuffix>image</mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="show" class="iconstyle">
    <div class="icon"><app-icons (eventcolor)="forcolor($event)" (eventarchive)="forarchive($event)" (eventdelete)="fordelete($event)"></app-icons></div>
    <button mat-button (click)="close()" matSuffix class="close">Close</button>
  </div>
</div>

