<div class="notesList">
    <div *ngFor="let list of childMessage" class="notes" [style.background]="list.color">
        <div class="title" >
            <h3 (click)="openDialog(list)">{{list.title}}</h3>
            <mat-icon class="icon1">push_pin</mat-icon>
        </div>
        <div class="description"  (click)="openDialog(list)">{{list.description}}</div>
        <div class="icon">
            <app-icons [lists]="list" (eventarchive)="forarchive($event)"></app-icons>
        </div>
    </div>
</div>