<div class="notesList">
    <div *ngFor="let list of childMessage"  class="notes" [style.background]="list.color">
        <div class="title" >
            <h3 (click)="openDialog(list)">{{list.title}}</h3>
            <img src="../../../assets/pushpinfinal.svg" height="25px" width="40px" class="icon1">
        </div>
        <div class="description"  (click)="openDialog(list)">{{list.description}}</div>
        <div class="icon">
            <app-icons [lists]="list" (eventarchive)="forarchive($event)" [iconshow]="childMessage1" [icontrashshow]="childMessage2"></app-icons>
        </div>
    </div>
</div>