.main{
    position: relative;
    top: 130px;
    
}
.section{
    border-style: groove;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    height: 300px;
}
.formfields{
  
    margin-top: 60px;
    // margin-left: 40px;
    text-align: center;
}
.fundoo{
    color: brown;letter-spacing: 0.6px;font-weight: 500;
}
.passwordreset{
    line-height: 1.2px;font-size: large;
}

@media only screen and (max-width: 412px) {

    .passwordreset {
        text-align: left;
        font-weight: 380;
        color: black;
        margin-top: 30px;
        margin-left: -5px;line-height: 1.2px;
        font-size:x-large;
       
    }
    .main {
        position: fixed;
        top: 130px;
    
    }
    .fundoo{
        font-size: 38px;
    }
    .section {
        border: none;
        margin-left: 30px;
        margin-right: 30px;
        height: 830px;
        width: 400px;
    }
    .inputs{
        font-size: large;margin-top: 5px;
    }

    .font {
        font-size: 40px;
    }

    .h1 {
        text-align: left;
        font-weight: 380;
        color: black;
        margin-top: 10px;
        margin-left: 0px;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .formfields {

        margin-top: 40px;
        text-align: left;
        width: 400px;
    }

    .fields {
        width: 350px;
        margin-top: 15px;
        height: 88px;
    }

    .passshow {
        margin-left: -10px;
        font-size: large;
        margin-top: -60px;
    }

    .end {
        display: flex;
        justify-content: space-between;
        flex-direction: row;width: 350px;
        margin-top: 20px;
    }

    .forgot {
        margin-left: -140px;
        font-size: 20px;
        margin-top: -10px;
    }
    .signuplink{
        margin-left: -100px;
        font-size: 20px;
        margin-top: -15px;
    }

    .button {
        position: relative;
        left: 0px;
        top: 10px;font-size: large;
        height: 50px;
        width: 105px;
    }

}

@media only screen and (min-width:415px) and (max-width: 820px) {
    .main {
        position: fixed;
        top: 130px;
    
    }
    .section {
        border: none;
        margin-left: 60px;
        margin-right: 60px;
        height: 830px;
        width: 700px;
    }

    .font {
        font-size: 60px;
    }

    .inputs {
        font-size: x-large;
        margin-top: 12px;
        height: 60px;
    }
    

    .passwordreset {
        text-align: left;
        font-weight: 400;
        color: black;
        margin-top: 70px;
        margin-left: 0px;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .formfields {

        margin-top: 40px;
        text-align: left;
        width: 700px;
    }

    .fields {
        width: 700px;
        margin-top: 15px;
        padding: 0;
        height: 110px;
    }

    .button{
        position: relative;
        left: 0px;
        top: 15px;
        height: 56px;
        width: 155px;
        font-size: x-large;
    }
    
}