<form [formGroup]="loginForm">
<div class="main">
    <div class="section">
        <div class="formfields">
            <h1 class="fundoo font">F<span style="color: yellowgreen;">u</span><span style="color: sandybrown;">n</span><span style="color: blueviolet;">d</span><span style="color: red;">o</span><span style="color: green;">o</span></h1><br>
            <h3 class="passwordreset">Enter username to reset password</h3>
            <br>
            <div>
                <mat-form-field appearance="outline"  class="fields">
                  <mat-label>Username</mat-label>
                  <input formControlName="email" matInput placeholder="Placeholder" class="inputs">
                  <mat-error>Please enter valid email</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="next()" class="button">Next</button>
        </div>
    </div>
</div>
</form>