<form [formGroup]="loginForm">
<div class="main">
    <div class="section">
        <div class="formfields">
            <h3 style="line-height: 1.2px;font-size: large;">Enter your username to reset password</h3>
            <br>
            <div>
                <mat-form-field appearance="outline" style="width: 330px;">
                  <mat-label>Username</mat-label>
                  <input formControlName="email" matInput placeholder="Placeholder">
                  <mat-error>Please enter valid email</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="next()">Next</button>
        </div>
    </div>
</div>
</form>