<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <div style="display: flex;">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Fundoo Notes</h1>
    </div>
    <div class="searchdiv">
      <mat-form-field  class="search" appearance="fill">
        <a mat-list-item routerLink="./search"><input matInput placeholder="Search" (keyup)="onKeyup(searchValue)"  [(ngModel)]="searchValue"></a> 
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div style="width: 130px;display: flex;justify-content: space-between;">
      <img src="../../../../assets/refresh_FILL0_wght400_GRAD0_opsz24.png">
      <img src="../../../../assets/view_agenda_FILL0_wght400_GRAD0_opsz24.png">
      <img src="../../../../assets/settings_FILL0_wght400_GRAD0_opsz24.png">
    </div>
  </mat-toolbar>
  <mat-divider style="margin-top: 8px;"> </mat-divider>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <br>
        <a mat-list-item routerLink="./notes" style="align-items: center;padding: 20px;"class="sidebar">
          <img src="../../../../assets/notesimg.jpg" height="25px">
         <span style="align-items: center;">Notes</span> 
        </a>
        <br>
        <a mat-list-item routerLink="." class="sidebar">
            <img src="../../../../assets/reminderimg.jpg" height="25px">
            Reminders
        </a>
        <br>
        <a mat-list-item routerLink="." class="sidebar"><img src="../../../../assets/editimg.jpg">Edit labels</a>
        <br>
        <a mat-list-item routerLink="./archive" class="sidebar"><img src="../../../../assets/archive_FILL0_wght300_GRAD0_opsz24.svg">Archive</a>
        <br>
        <a mat-list-item routerLink="./trash" class="sidebar"><img src="../../../../assets/trashimg.jpg">Trash</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>