<form [formGroup]="loginForm">
    <div class="main">
        <div class="section">
            <div class="formfields">
                <h1 class="font" style="color: brown;letter-spacing: 0.6px;font-weight: 500;">F<span
                        style="color: yellowgreen;">u</span><span style="color: sandybrown;">n</span><span
                        style="color: blueviolet;">d</span><span style="color: red;">o</span><span
                        style="color: green;">o</span></h1><br>
                <h1 class="h1">Sign in</h1>
                <div>
                    <mat-form-field appearance="outline" class="fields">
                       
                        <input formControlName="email" matInput placeholder="Username"  class="inputs">
                        <mat-error>Please enter valid email</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="fields">
                        
                        <input formControlName="password" matInput [type]="hide ? 'text' : 'password'"
                            placeholder="Password"  class="inputs">
                        <mat-error>It should be minimum 6 characters</mat-error>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <mat-checkbox (change)="hide = !hide" class="passshow"><span class="showpass">Show password</span></mat-checkbox>
                <br><br><br>
                <div class="end">
                    <a routerLink="/forgotpassword" class="forgot">
                        <p style="color: blue;">Forgot Password?</p>
                    </a>
                    <button mat-raised-button color="primary" (click)="login()" type="button" class="button">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>