<form [formGroup]="loginForm" >
<div class="main">
    <div class="section">
        <div class="formfields">
          <h1 style="color: brown;letter-spacing: 0.6px;font-weight: 500;">F<span style="color: yellowgreen;">u</span><span style="color: sandybrown;">n</span><span style="color: blueviolet;">d</span><span style="color: red;">o</span><span style="color: green;">o</span></h1>
            <br>
            <h3 style="line-height: 1.2px;font-size: large;margin-left: -150px;margin-bottom: 30px;">Password Reset Form</h3>
            <div>
                <mat-form-field appearance="outline" style="width: 330px;">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput placeholder="Placeholder">
                  <mat-error>It should be minimum 6 characters</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" style="width: 330px;">
                    <mat-label>Confirm password</mat-label>
                    <input formControlName="confirmpassword" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Passwords doesnt match</mat-error>
                  </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="passwordreset()">Reset</button>
        </div>
    </div>
</div>
</form>