<div class="updatemain" [style.background]="colors">
    <div class="title divfields">
        <mat-form-field class="titleform inputs" appearance="outline">
            <input matInput [(ngModel)]="title">
            <mat-icon matSuffix>push_pin</mat-icon>
        </mat-form-field>
    </div>
    <div class="description divfields">
        <mat-form-field class="descform inputs" appearance="outline">
            <textarea matInput [(ngModel)]="description"></textarea>
        </mat-form-field>
    </div>
    <div class="icons"  [style.background]="colors">
        <div class="iconform" >
            <app-icons [lists]="list" [iconshow]="show" (eventupdatecolor)="forcolor($event)"></app-icons>
        </div>
        <button mat-button matSuffix (click)="close()" class="close">Close</button>
    </div>
</div>