<div class="main" [formGroup]="signupForm">
    <div class="section">
        <div class="section1">
            <h1 class="font" style="color: brown;letter-spacing: 0.6px;font-weight: 500;">F<span
                    style="color: yellowgreen;">u</span><span style="color: sandybrown;">n</span><span
                    style="color: blueviolet;">d</span><span style="color: red;">o</span><span
                    style="color: green;">o</span></h1>
            <h1 class="h1">Create your fundoo account</h1>
            <div class="namefields">
                <div style="order: 1;">
                    <mat-form-field appearance="outline" class="commonfieldclass">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstName" placeholder="Placeholder" class="placeholder">
                        <mat-error>PLease enter firstname</mat-error>
                    </mat-form-field>
                </div>
                <div style="order: 2;">
                    <mat-form-field appearance="outline" class="commonfieldclass">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lastName" placeholder="Placeholder" class="placeholder">
                        <mat-error>PLease enter lastname</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="usernamefield">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="email" placeholder="Enter email" class="placeholder">
                    <mat-hint class="ptext">You can use letters,numbers,periods</mat-hint>
                    <mat-error>Please enter valid Username</mat-error>
                </mat-form-field>
                <div><a style="color:blue;" class="ptexthead">Use my current email adresss instead</a></div>
            </div>
            <div class="namefields">
                <div style="order: 1;" class="passfield">
                    <mat-form-field appearance="outline" class="commonfieldpass">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="Placeholder" class="placeholder">
                        <mat-hint class="ptext">Use 6 or more characters </mat-hint>
                        <mat-error>Password has to be minimum 6 characters</mat-error>
                    </mat-form-field>
                </div>
                <div style="order: 2;" class="passfield">
                    <mat-form-field appearance="outline" class="commonfieldpass">
                        <mat-label>Confirm</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                            placeholder="Placeholder" class="placeholder">
                        <mat-error>Password doesnt match</mat-error>
                        <mat-hint class="ptext">of letters,numbers,symbols</mat-hint>
                    </mat-form-field>
                </div>
                <div style="order:3;" class="passfield1">
                    <button mat-icon-button (click)="hide = !hide" style="font-size: xx-large;">
                        <mat-icon style="font-size: x-large;">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon></button>
                </div>
            </div>
            <br><br>
            <div class="end">
                <div>
                    <a routerLink="/login" style="color:blue;line-height: 2.4;text-decoration: none;"
                        class="ptexthead">Sign in instead</a>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="signup()"
                        class="ptexthead nextbutton">Next</button>
                </div>
            </div>
        </div>
        <div class="section2">
            <div style="order: 1;align-items: center;display: flex;justify-content: center;"><img
                    src="../../assets/logoimg.jpg" class="img"></div>
            <div class="pimg"> One account. All of Fundoo <br>working for you.</div>
        </div>
    </div>
    <footer class="footer">
        <div style="order:1;padding: 0;" class="footer1">
            <mat-form-field style="height: 65px;">
                <select matNativeControl required>
                    <option value="option">English(UnitedStates)</option>
                    <option value="option">Arabic</option>
                </select>
            </mat-form-field>
        </div>
        <div class="footer2">
            <div class="help">Help</div>
            <div class="privacy">Privacy</div>
            <div class="terms">Terms</div>
        </div>
    </footer>
</div>